doctype transitional
//
  Template Name: Education Time
  Author: <a href="http://www.os-templates.com/">OS Templates</a>
  Author URI: http://www.os-templates.com/
  Licence: Free to use under our free template licence terms
  Licence URI: http://www.os-templates.com/template-terms
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    title CHITKARA UNIVERSITY
    meta(http-equiv='Content-Type', content='text/html; charset=iso-8859-1')
    link(rel='stylesheet', href='/resources/css/front/layout.css', type='text/css')
    script(type='text/javascript', src='/resources/js/front/jquery.min.js')
    // liteAccordion is Homepage Only
    link(rel='stylesheet', href='/resources/js/front/liteaccordion-v2.2/css/liteaccordion.css', type='text/css')
  body#top
    .wrapper.row1
      #header.clear
        .fl_left
          h1
            a(href='index.html') NEWS PORTAL
            |       
            div
              img(src='/resources/images/front/featured-slide/logo.png', alt='')
    // #######################################################################################################
    .wrapper.row2
      #topnav
        ul
          li.active
            a(href='#') Homepage
          |       
          li
            a(href='#') CLUBS 
            |         
            ul
              li
                a(href='/sufy/home') SUFY
              |             
              li
                a(href='/cutc/home') CUTC
              |             
              li
                a(href='/mystics/home') MYSTICS
              |             
              li
                a(href='/csi/home') CSI
              |             
              li
                a(href='/isotope/home') CU ISOTOPES
              |             
              li
                a(href='/civings/home') CIVINGS
              |             
              li
                a(href='/picit/home') PIC IT
              |             
              li
                a(href='/3ctech/home') 3C TECH
              |             
              li
                a(href='/staccatos/home') STACCATOS
              |             
              li
                a(href='/euphony/home') EUPHONY
              |             
              li
                a(href='/iete/home') IETE
              |             
              li
                a(href='/mathpirate/home') MATH PIRATES
          |        
          li
            a(href='/news') NEWS
          |        
          li
            a(href='#') ABOUT US
          |        
          li.last
            a(href='/gallery') GALLERY
        |     
        .clear
    // #######################################################################################################
    .wrapper.row3
      #featured_slide
        // #######################################################################################################
        ol
          li
            h2
              span Slide 1
            |         
            div
              img(src='/resources/images/front/featured-slide/a.jpg', alt='')
          |       
          li
            h2
              span Slide 2
            |         
            div
              img(src='/resources/images/front/featured-slide/b.jpg', alt='')
          |       
          li
            h2
              span Slide 3
            |         
            div
              img(src='/resources/images/front/featured-slide/c.jpg', alt='')
          |       
          li
            h2
              span Slide 4
            |         
            div
              img(src='/resources/images/front/featured-slide/d.jpg', alt='')
          |       
          li
            h2
              span Slide 5
            |         
            div
              img(src='/resources/images/front/featured-slide/e.jpg', alt='')
        // #######################################################################################################
    // #######################################################################################################
    .wrapper.row4
      #container.clear
        // #######################################################################################################
        #homepage.clear
          .fl_left
            h2.title Latest Gallery Images
            |         
            #hpage_gallery
              ul.clear
                li
                  a(href='#')
                    img(src='/resources/images/front/175x130.gif', alt='')
                |             
                li.last
                  a(href='#')
                    img(src='/resources/images/front/175x130.gif', alt='')
                |             
                li
                  a(href='#')
                    img(src='/resources/images/front/175x130.gif', alt='')
                |             
                li.last
                  a(href='#')
                    img(src='/resources/images/front/175x130.gif', alt='')
            |         
            h2.title Keep Up With What&apos;s Happening
            |         
            #hpage_socialize
              ul
                li
                  span Facebook:
                  |  
                  a(href='#') www.facebook.com/myhandel
                |             
                li
                  span Twitter:
                  |  
                  a(href='#') www.twitter.com/myhandel
                |             
                li.last
                  span LinkedIn:
                  |  
                  a(href='#') www.linkedin.com/myhandel
              |           
              p
                strong Subscribe To Our Newsletter
              |           
              p
                | Justoid nonummy laoreet phasellent penatoque in antesque pellus elis eget tincidunt. Nequatdui laorem justo a non tellus laoreet tincidunt ut vel velit.
              |           
              form(action='#', method='post')
                fieldset
                  legend Newsletter Signup:
                  |               
                  input#newsletter(type='text', value='Enter Email Here…', onfocus="this.value=(this.value=='Enter Email Here…')? '' : this.value ;")
                  |               
                  input#subscribe(type='image', src='/resources/images/sign-up.gif', alt='Submit')
              |           
              p.form_hint * Please add name@domain.com to your trusted email list
          // ###############
          .fl_right
            h2.title Latest News
            |         
            #hpage_latestnews
              ul
                li
                  .imgl
                    img(src='/resources/images/front/160x80.gif', alt='')
                  |               
                  p.latestnews
                    | This is a W3C compliant free website template from 
                    a(href='http://www.os-templates.com/', title='Free Website Templates') OS Templates
                    | . This template is distributed using a 
                    a(href='http://www.os-templates.com/template-terms') Website Template Licence
                    | .
                  |               
                  p.readmore
                    a(href='#') Continue Reading &raquo;
                |             
                li
                  .imgl
                    img(src='/resources/images/front/160x80.gif', alt='')
                  |               
                  p.latestnews
                    | You can use and modify the template for both personal and commercial use. You must keep all copyright information and credit links in the template and associated files. For more CSS templates visit 
                    a(href='http://www.os-templates.com/') Free Website Templates
                    | .
                  |               
                  p.readmore
                    a(href='#') Continue Reading &raquo;
                |             
                li.last
                  .imgl
                    img(src='/resources/images/front/160x80.gif', alt='')
                  |               
                  p.latestnews
                    | Attincidunt vel nam a maurisus lacinia consectetus magnisl sed ac morbi. Inmaurisus habitur pretium eu et ac vest penatibus id lacus parturpis. Maecenaset adipiscinia tellentum nullam velit et a convallis curabitae vitae laoreet niseros ligula sem sed susp en at.
                  |               
                  p.readmore
                    a(href='#') Continue Reading &raquo;
            |         
            #hpage_specials.clear
              ul
                li
                  h2.title Virtual Tour
                  |               
                  .box
                    .imgholder
                      img(src='/resources/images/front/160x160.gif', alt='')
                    |                 
                    p
                      | Vestassapede et donec ut est liberos sus et eget sed eget. Quisqueta habitur augue magnisl magna phasellus sagittitor ant curabiturpis molesuada amet. Tricessem faucibulum sit sed eleifendisse accumsan justo in tor vel purus.
                    |                 
                    p.readmore
                      a(href='#') Take The Tour &raquo;
                |             
                li
                  h2.title Sporting Activities
                  |               
                  .box
                    p
                      strong Jan 01:
                      |  
                      a(href='#') Rugby
                    |                 
                    .imgholder
                      img(src='/resources/images/front/160x80.gif', alt='')
                    |                 
                    p Vestassapede et donec ut est liberos sus et eget sed eget.
                  |               
                  .box
                    p
                      strong Jan 06:
                      |  
                      a(href='#') Volleyball
                    |                 
                    .imgholder
                      img(src='/resources/images/front/160x80.gif', alt='')
                    |                 
                    p Vestassapede et donec ut est liberos sus et eget sed eget.
                |             
                li.last
                  h2.title Upcoming Events
                  |               
                  .box
                    p
                      a(href='#') Magna phasellus
                    |                 
                    p Monday 21st January
                    |                 
                    p
                      | Vestassapede et donec ut est liberos sus et eget sed eget. Quisqueta habitur augue magnisl magna phasellus sagittitor ant curabiturpis.
                  |               
                  .box
                    p
                      a(href='#') Sentumquisque morbi dui congue tincidunt eu quis
                    |                 
                    p Monday 21st January
                    |                 
                    p
                      | Vestassapede et donec ut est liberos sus et eget sed eget. Quisqueta habitur augue magnisl magna phasellus sagittitor ant.
        // #######################################################################################################
    // #######################################################################################################
    .wrapper.row5
      #footer.clear
        // #######################################################################################################
        .foot_contact
          h2 University Name Here
          |       
          address
            | Address Line 1
            br
            |       Address Line 2
            br
            |       Town/City
            br
            |       Postcode/Zip
          |       
          ul
            li
              strong Tel:
              |  xxxxx xxxxxxxxxx
            |         
            li
              strong Fax:
              |  xxxxx xxxxxxxxxx
            |         
            li.last
              strong Email:
              |  
              a(href='#') contact@mydomain.com
        |     
        .footbox
          h2 Administration
          |       
          ul
            li
              a(href='#') Disclaimer
            |         
            li
              a(href='#') Accessibility
            |         
            li
              a(href='#') Freedom of Information
            |         
            li
              a(href='#') Website Privacy
            |         
            li
              a(href='#') Press Release Information
            |         
            li
              a(href='#') Annual Report
            |         
            li
              a(href='#') Financial Statements
            |         
            li
              a(href='#') Job Vacancies
            |         
            li.last
              a(href='#') Semester Dates
        |     
        .footbox
          h2 Link Block 2
          |       
          ul
            li
              a(href='#') Schools and Colleges
            |         
            li
              a(href='#') Student Activities
            |         
            li
              a(href='#') Student Affairs
            |         
            li
              a(href='#') Student Development
            |         
            li
              a(href='#') Student Financial Services
            |         
            li
              a(href='#') Student Group Directory
            |         
            li
              a(href='#') Student Life
            |         
            li
              a(href='#') International Students
            |         
            li.last
              a(href='#') Global Learning
        |     
        .footbox.last
          h2 Link Block 3
          |       
          ul
            li
              a(href='#') Academic Advisory
            |         
            li
              a(href='#') Academic Assistance
            |         
            li
              a(href='#') Academic Calendars
            |         
            li
              a(href='#') Academics Office
            |         
            li
              a(href='#') Administration
            |         
            li
              a(href='#') Adult Learners
            |         
            li
              a(href='#') Alumni Chapters
            |         
            li
              a(href='#') Alumni Events
            |         
            li.last
              a(href='#') Residential Colleges
        // #######################################################################################################
    // #######################################################################################################
    .wrapper
      #copyright.clear
        p.fl_left
          | Copyright &copy; 2014 - All Rights Reserved - 
          a(href='#') Domain Name
        |     
        p.fl_right
          | Template by 
          a(target='_blank', href='http://www.os-templates.com/', title='Free Website Templates') OS Templates
    // liteAccordion is Homepage Only
    script(type='text/javascript', src='/resources/js/front/liteaccordion-v2.2/js/liteaccordion.jquery.min.js')
    |  
    script(type='text/javascript').
      $("#featured_slide").liteAccordion({
      theme: "os-tpl",
      containerWidth: 960, // fixed (px)
      containerHeight: 360, // fixed (px) - overall height of the slider
      headerWidth: 48, // fixed (px) - slide spine title
      firstSlide: 1, // displays slide (n) on page load
      activateOn: "click", // click or mouseover
      autoPlay: false, // automatically cycle through slides
      pauseOnHover: true, // pause slides on hover
      rounded: false, // square or rounded corners
      enumerateSlides: true, // put numbers on slides
      slideSpeed: 800, // slide animation speed
      cycleSpeed: 6000, // time between slide cycles
      });
