doctype transitional
//
  Template Name: Education Time
  Author: <a href="http://www.os-templates.com/">OS Templates</a>
  Author URI: http://www.os-templates.com/
  Licence: Free to use under our free template licence terms
  Licence URI: http://www.os-templates.com/template-terms
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    title CHITKARA UNIVERSITY
    meta(http-equiv='Content-Type', content='text/html; charset=iso-8859-1')
    link(rel='stylesheet', href='/resources/css/front/layout.css', type='text/css')
    script(type='text/javascript', src='/resources/js/front/jquery.min.js')
    // liteAccordion is Homepage Only
    link(rel='stylesheet', href='/resources/js/front/liteaccordion-v2.2/css/liteaccordion.css', type='text/css')
  body#top
    .wrapper.row1
      #header.clear
        .fl_left
          h1
            a(href='index.html') NEWS PORTAL
            |       
            div
              img(src='/resources/images/front/featured-slide/logo.png', alt='')
    // #######################################################################################################
    .wrapper.row2
      #topnav
        ul
          li.active
            a(href='/front') Homepage
          |       
          li
            a(href='#') CLUBS 
            |         
            ul
              li
                a(href='/sufy/home') SUFY
              |                       
              li
                a(href='/mystics/home') MYSTICS
              |                          
              li
                a(href='/civings/home') CIVINGS
              |             
              li
                a(href='/picit/home') PIC IT
              |             
              li
                a(href='/3ctech/home') 3C TECH
              |                                           
              li
                a(href='/mathpirate/home') MATH PIRATES
          |        
          li
            a(href='/news') NEWS
          |        
          li
            a(href='/gallery') GALLERY
          |        
          li.last
            a(href='/contact_us') CONTACT US
        
        |     
        .clear
    // #######################################################################################################
    .wrapper.row3
      #featured_slide
        // #######################################################################################################
        ol
          li
            h2
              span 
            |         
            div
              img(src='/resources/images/front/featured-slide/b.jpg', alt='')
          |       
          li
            h2
              span 
            |         
            div
              img(src='/resources/images/front/featured-slide/a.jpg', alt='')
          |       
          li
            h2
              span 
            |         
            div
              img(src='/resources/images/front/featured-slide/c.jpg', alt='')
          |       
          li
            h2
              span 
            |         
            div
              img(src='/resources/images/front/featured-slide/d.jpg', alt='')
          |       
          li
            h2
              span 
            |         
            div
              img(src='/resources/images/front/featured-slide/e.jpg', alt='')
        // #######################################################################################################
    // #######################################################################################################
    .wrapper.row4
      #container.clear
        // #######################################################################################################
        #homepage.clear
          .fl_left
            h2.title Latest Gallery Images
            |         
            #hpage_gallery
              ul.clear
                li
                  a(href='#')
                    img(src='/resources/images/front/175x130.jpg', alt='')
                |             
                li.last
                  a(href='#')
                    img(src='/resources/images/front/175x130_4.jpg', alt='')
                |             
                li
                  a(href='#')
                    img(src='/resources/images/front/175x130_2.jpg', alt='')
                |             
                li.last
                  a(href='#')
                    img(src='/resources/images/front/175x130_3.jpg', alt='')
                |             
                li
                  a(href='#')
                    img(src='/resources/images/front/175x130_2.jpg', alt='')
                |             
                li.last
                  a(href='#')
                    img(src='/resources/images/front/175x130_3.jpg', alt='')
                        
            |         
            h2.title Keep Up With What&apos;s Happening
            |         
            #hpage_socialize
              ul
                li
                  span Facebook:
                  | 
                  a(href='https://www.facebook.com/ChitkaraU') www.facebook.com
                |             
                li
                  span Twitter:
                  |  
                  a(href='https://twitter.com/chitkarau') www.twitter.com
                |             
                li.last
                  span LinkedIn:
                  |  
                  a(href='https://www.linkedin.com/edu/school?id=43021') www.linkedin.com
             
          .fl_right
            h2.title Latest News
            |         
            #hpage_latestnews
              ul
                li
                  .imgl
                    img(src='/resources/images/front/160x80.jpg', alt='')
                  |               
                  p.latestnews
                    | Chitkara University students survey on Geological Survey(Object is to survey different strata in the earth crust) and were awarded by Himachal Government
                    | 
                  |               
                  p.readmore
                |             
                li
                  .imgl
                    img(src='/resources/images/front/160x80_1.jpg', alt='')
                  |               
                  p.latestnews
                    | Math Pirates is organizing an event TECHNOCROSS on 16 March, 2016.They have to solve the Crossword in a limited time.
                    | 
                  |               
                  p.readmore
                    
            |         
            #hpage_specials.clear
              ul
                li
                  h2.title Virtual Tour
                  |               
                  .box
                    .imgholder
                      img(src='/resources/images/front/160x160.jpg', alt='')
                    |                 
                    p
                      | Student of different Universities went on a tour to Shimla. It was a great educational and intractional tour. Chitkara university gave fund to organise this tour. It was a success tour between the students of different university. 
                    |                 
                    p.readmore
                |             
                li
                  h2.title Sporting Activities
                  |               
                  .box
                    p
                      strong June 25:
                      |  
                      a(href='#') Football Match
                    |                 
                    .imgholder
                      img(src='/resources/images/front/160x80_2.jpg', alt='')
                    |                 
                    p Football match was being organized in our university. 
                  |               
                  .box
                    p
                      strong June 29:
                      |  
                      a(href='#') Tug Of War
                    |                 
                    .imgholder
                      img(src='/resources/images/front/160x80_3.jpg', alt='')
                    |                 
                    p Tug of war was being organized which was a great success.
                |             
                li.last
                  h2.title Upcoming Events
                  |               
                  .box
                    p
                      a(href='/mystics') Mystics
                    |                 
                    p Monday 21st July
                    |                 
                    p
                      | Session on Cloud Technologies By Mr Rohit Gupta, Associate at Google.
                  |               
                  .box
                    p
                      a(href='/mathpirate/home') Math Pirates
                    |                 
                    p Friday 25st July
                    |                 
                    p
                      | Student's club Math Pirates is organising a workshop on Vedic Mathematics as per the demands of students on the account of National Science day, by Mr. Anuj Gupta, a renowned faculty from chandigarh.


        // #######################################################################################################
    // #######################################################################################################
    .wrapper.row5
      #footer.clear
        // #######################################################################################################
        .foot_contact
          h2 CHITKARA UNIVERSITY
          |       
          address
            | Pinjore-Barotiwala National Highway (NH-21A) 
            br
            |       Himachal Pradesh, India
            br
            |       174103  
          |       
          ul
            li
              strong Tel:
              |  +91.1795.661011
            |                
            li.last
              strong Email:
              |  
              a(href='/www.chitkarauniversity.edu.in')  info@chitkarauniversity.edu.in
        |     
        .footbox
          h2 Administration
          |       
          ul
            li
              a(href='#') Disclaimer
            |         
            li
              a(href='#') Accessibility
            |         
            li
              a(href='#') Freedom of Information
            |         
            li
              a(href='#') Website Privacy
            |         
            li
              a(href='#') Press Release Information
            |         
            li
              a(href='#') Annual Report
            |         
            li
              a(href='#') Financial Statements
            |         
            li
              a(href='#') Job Vacancies
            |         
            li.last
              a(href='#') Semester Dates
        |     
        .footbox
          h2 Link Block 2
          |       
          ul
            li
              a(href='#') Schools and Colleges
            |         
            li
              a(href='#') Student Activities
            |         
            li
              a(href='#') Student Affairs
            |         
            li
              a(href='#') Student Development
            |         
            li
              a(href='#') Student Financial Services
            |         
            li
              a(href='#') Student Group Directory
            |         
            li
              a(href='#') Student Life
            |         
            li
              a(href='#') International Students
            |         
            li.last
              a(href='#') Global Learning
        |     
        .footbox.last
          h2 Link Block 3
          |       
          ul
            li
              a(href='#') Academic Advisory
            |         
            li
              a(href='#') Academic Assistance
            |         
            li
              a(href='#') Academic Calendars
            |         
            li
              a(href='#') Academics Office
            |         
            li
              a(href='#') Administration
            |         
            li
              a(href='#') Adult Learners
            |         
            li
              a(href='#') Alumni Chapters
            |         
            li
              a(href='#') Alumni Events
            |         
            li.last
              a(href='#') Residential Colleges
        // #######################################################################################################
    // #######################################################################################################
    .wrapper
      #copyright.clear
        p.fl_left
          | Copyright &copy; 2014 - All Rights Reserved - 
          a(href='#') Domain Name
        |     
        p.fl_right
          | Template by 
          a(target='_blank', href='http://www.os-templates.com/', title='Free Website Templates') OS Templates
    // liteAccordion is Homepage Only
    script(type='text/javascript', src='/resources/js/front/liteaccordion-v2.2/js/liteaccordion.jquery.min.js')
    |  
    script(type='text/javascript').
      $("#featured_slide").liteAccordion({
      theme: "os-tpl",
      containerWidth: 960, // fixed (px)
      containerHeight: 360, // fixed (px) - overall height of the slider
      headerWidth: 48, // fixed (px) - slide spine title
      firstSlide: 1, // displays slide (n) on page load
      activateOn: "click", // click or mouseover
      autoPlay: false, // automatically cycle through slides
      pauseOnHover: true, // pause slides on hover
      rounded: false, // square or rounded corners
      enumerateSlides: true, // put numbers on slides
      slideSpeed: 800, // slide animation speed
      cycleSpeed: 6000, // time between slide cycles
      });
