doctype html
html
	title event upload
	body
		form(method="POST",enctype="multipart/form-data")
			label TITLE : &nbsp
			input(name="title",type="text",value="title")
			br
			br
			label DETAILS: &nbsp
			input(name="para",type="textarea",rows="5",value="description")
			br
			br
			input(name="photo",type='file')
			input(type="submit",width="50",value="SUBMIT")
		p sshizzle