doctype html
html
	title event upload
	body
		form(method="POST")
			label TITLE : &nbsp
			input(name="title",type="text",value="title")
			br
			br
			label DETAILS: &nbsp
			input(name="details",type="textarea",rows="5",value="description")
			br
			br
			input(name="datetime",type="datetime-local")
			input(type="submit",width="50",value="SUBMIT")
		p sshizzle